/* Página de cadastro de endereços */

/* Fonte página de cadastro de endereços */
h2 {
    margin: 2;
    font-family: var(--fonte-titulo);
    color: var(--cor-vermelha);
    font-size: 37px;
    font-weight: 280;
  }
  
  /* Container geral */
  .container {
    padding: 110px 5px 0px;
    height: calc(100vh - 110px);
    background-color: var(--cor-azul);
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  /* Estilo do formulário */
  .formulario {
    padding: 20px;
    flex: 1;
    max-width: 400px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  
  form label {
    margin-bottom: 1px;
  }
  
  form input {
    margin-bottom: 0px;
    border-radius: 8px; 
    border: 2px solid #696969;
    padding: 8px;
    font-size: 16px;
  }
  
  button.button-app {
    padding: 10px;
    background-color: var(--cor-vermelha);
    color: var(--cor-branca);
    font-size: var(--fonte-tamanho-botao);
    border: none;
    cursor: pointer;
  }
  
  button.button-app:hover {
    background-color: #FF2A2A;
  }
  
  /* Estilo da caixa de endereços */
  .caixa-enderecos {
    flex: 1;
    height: 650px;
    max-width: 900px;
    border: 2px solid #FF4A4A;
    border-radius: 8px; 
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .caixa-enderecos ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .caixa-enderecos li {
    margin-bottom: 10px;
    font-size: 18px;
    color: #000000;
  }

  label {
    font-family: var(--fonte-paragrafo);
    font-size: 16px;
    color: #333;
  }